<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<date>2011-07-28T15:00:00Z</date>
		<key>title</key>
		<string>出会い</string>
		<key>message</key>
		<string>バイト先の居酒屋で出会いました。

こんな偶然から今日まで来るとはこのころは想像できませんでした！</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2011-09-06T15:00:00Z</date>
		<key>title</key>
		<string>まい誕生日</string>
		<key>message</key>
		<string>付き合ってすぐの誕生日。

プレゼント、お店をすごく悩みました。

このころから喜びを表現するのが苦手なようでした。</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2011-12-23T15:00:00Z</date>
		<key>title</key>
		<string>クリスマス</string>
		<key>message</key>
		<string>ホテルのでっかい部屋の真ん中に陣取ってのディナー。

この頃も頑張ってました。

初心を忘れずにしたいです。</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-03-25T15:00:00Z</date>
		<key>title</key>
		<string>島根旅行</string>
		<key>message</key>
		<string>東京に行く直前の旅行。

遠距離恋愛になるという実感が湧いてきました。

この後の引越し準備はさすがに寂しかったかな。</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-03-31T15:00:00Z</date>
		<key>title</key>
		<string>遠距離恋愛スタート</string>
		<key>message</key>
		<string>ついに遠距離恋愛スタート。

毎日FaceTimeで連絡を取り合ってました。
遠距離恋愛される方には是非オススメ！

インターネットは素晴らしいです。</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-05-12T15:00:00Z</date>
		<key>title</key>
		<string>公園デート</string>
		<key>message</key>
		<string>定番です。

二人とも自然派なのでよくのんびりしに行きます。

あまり東京らしいスポットには行ってません。</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-12-23T15:00:00Z</date>
		<key>title</key>
		<string>Xmasディズニー</string>
		<key>message</key>
		<string>クリスマスディズニー

待ちが長かったけど一緒に歩いているだけで十分楽しかった！

待ち時間のモンハンは許してくれませんでした。</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2014-01-02T15:00:00Z</date>
		<key>title</key>
		<string>結納</string>
		<key>message</key>
		<string>夏前からトントン拍子で話が進んでついにここまで来ました。

緊張して話せないとこをフォローしてくれてありがとう！

和やかに進んでよかった！</string>
	</dict>
	<dict>
		<key>date</key>
		<date>2012-03-31T15:00:00Z</date>
		<key>title</key>
		<string>結婚式！</string>
		<key>message</key>
		<string>これからも末永くよろしく！！
いっぱい思い出を作っていきましょう！！</string>
	</dict>
</array>
</plist>
